<div class="gestionate-books-section">

  <h3>Gestionate your books</h3>

  <button onclick="visibilityform()">Add</button>

  <div class="gestionate-form">
    <form action="/addbook" method="POST">
      <div class="form-input">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" placeholder="Type a title...">
      </div>
      <div class="form-input">
        <label for="author">Author</label>
        <input type="text" name="author" id="author" placeholder="Type an author...">
      </div>
      <div class="form-select">
        <label for="genre">Genre</label>
        <select name="genre" id="genre">
          <option value="Fantasy">Fantasy</option>
          <option value="Science Fiction (Sci-Fi)">Science Fiction (Sci-Fi)</option>
          <option value="Romance">Romance</option>
          <option value="Mistery">Mistery</option>
          <option value="Mistery">horror</option>
        </select>
      </div>
      <div class="form-select">
        <label for="status">Status</label>
        <select name="status" id="status">
          <option value="Reading">Reading</option>
          <option value="Read">Read</option>
          <option value="Abandoned">Abandoned</option>
          <option value="Pending">Pending</option>
        </select>
      </div>
      <div class="form-button">
        <input type="submit" value="Save" id="btnSave" class="btn-save">
        <input type="button" class="btn-update" id="btnUpdate" value="Update">
        <input type="button" id="btnCancel" onclick="visibilityform()" value="Cancel">
      </div>
    </form>
  </div>

  <div class="list-books">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% Object.keys(Books).forEach(function(prop, index) { %>
          <tr>
            <td>
              <%- Books[prop].title %>
            </td>
            <td>
              <%- Books[prop].author %>
            </td>
            <td>
              <%- Books[prop].genre %>
            </td>
            <td>
              <%- Books[prop].status %>
            </td>
            <td>
              <button class="btn-edit" data-id="<%- Books[prop]._id %>">Edit</button>
              <button class="btn-delete" onclick="window.location.href='/deletebook/<%= Books[prop]._id %>'">Delete</button>
            </td>
          </tr>
          <%});%>
      </tbody>
  </table>
</div>