<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Library</title>
  <link rel="stylesheet" href="/public/normalize.css">
  <link rel="stylesheet" href="/public/login.css">
</head>

<body>
  <main class="main-content">
    <header class="header">
      <h1 class="title">Signup</h1>
      <img src="/public/assets/images/flower.png" alt="">
    </header>

    <form class="form signup-form" action="/signup" method="POST">
      <div class="input-field">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required placeholder="Ex. Fernando"
          value="<%= userInput.username %>">
        <span class="error-message" id="username-error">
          <%= validationErrors.username %>
        </span>
      </div>

      <div class="input-field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required placeholder="Ex. user@gmail.com"
          value="<%= userInput.email %>">
        <span class="error-message" id="email-error">
          <%= validationErrors.email %>
        </span>
      </div>

      <div class="input-field">
        <label for="password">Password</label>
        <div class="input-container">
          <input type="password" id="password" name="password" value="<%= userInput.password %>" required>
          <button type="button" class="toggle-password" onclick="togglePassword(this)">
            <img src="/public/assets/images/eye.png" alt="Show password">
          </button>
        </div>
        <span class="error-message" id="password-error">
          <%= validationErrors.password %>
        </span>
      </div>

      <div class="input-field">
        <label for="password-confirmation">Repeat password</label>
        <div class="input-container">
          <input type="password" id="password-confirmation" name="passwordConfirmation"
            value="<%= userInput.passwordConfirmation %>" required>
          <button type="button" class="toggle-password" onclick="togglePassword(this)">
            <img src="/public/assets/images/eye.png" alt="Show password">
          </button>
        </div>
        <span class="error-message" id="password-confirmation-error">
          <%= validationErrors.passwordConfirmation %>
        </span>
      </div>

      <span class="error-message" id="global-error">
        <%= globalError %>
      </span>
      <button type="submit" id="signup">Sign up</button>
      <a href="/login">Already have an account? Login</a>
    </form>
  </main>

  <script src="/public/js/togglePassword.js"></script>
</body>

</html>